$font-path: '/components/fonts/';

@font-face {
  font-family: 'BIZ UDゴシック BOLD';
  src: local('BIZ UDゴシック BOLD'),
    url(#{$font-path}BIZ-UDGothicB.ttc) format('truetype');
}

.app {
  font-family: 'BIZ UDゴシック BOLD';
}
